doctype html 
html(lang="zxx")
    head
        title Главная страница
        link(rel="stylesheet" href="style.css")
        meta(charset="utf-8")
    body
        h1= title 
        // комментарий;
            это тоже комментарий
            block название-идентификатор
            block -ключевое слово для связывания шаблона с макетом
        block body
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, voluptatem?